/* global style */
.btn-blue {
  background-color: #365fbf;
  color: #ffffff;
  font-weight: bold;
  border-radius: 8px;
}

.btn-blue:hover {
  background-color: #2d50a2;
  color: #ffffff;
}

.box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 700px;
}

.form {
  width: 100%;
  padding: 0 50px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  color: rgb(156, 156, 156);
}

/* Content Style */
.wrapper-content {
  height: 100vh;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

.left-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #365fbf;
}

.left-content__image {
  width: 80%;
}

.right-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-content-header {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-content-body {
  width: 100%;
}

.forgot {
  display: flex;
  justify-content: end;
  font-size: 14px;
}

.forgot a {
  color: rgb(156, 156, 156);
  text-decoration: none;
}

.forgot a:hover {
  color: rgb(156, 156, 156);
}

@media only screen and (max-width: 576px) {
  /* Global Style */
  .box {
    height: 100vh;
  }

  .form {
    width: 100%;
    padding: 0 20px;
  }

  /* Content Style */
  .wrapper-content {
    display: block;
    padding: 0;
  }

  .left-content {
    display: none;
  }

  .right-content {
    height: auto;
  }

  .right-content-header {
    align-items: flex-start;
    padding: 0 20px;
  }
}
